/* title font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=WindSong:wght@400;500&display=swap'); */

/* general font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root {
    --main-color: rgb(26, 26, 26);
    --box-tx-color: white;
    --padding-top: 130px;
}

*{
    overflow-x: hidden !important;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

header {
    background-color: var(--main-color);
    color: var(--box-tx-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100vw; */
    /* padding: 15px; */
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.center{
    text-align: center;
}

header * {
    margin: 0;
}

header h1 {
    padding: 10px;
    display: inline-flex;
    align-items: center;
}
header h1 img {
    width: 0px; /* Rendi visibile l'immagine con una larghezza iniziale */
    /* margin-left: 15px;    */
}

.title{
    /* font-family: "WindSong", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 300%; */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 300%;
}

hr{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 0px;
}

div.menu{
    padding: 10px;
}
div.menu button{
    background-color: var(--main-color);
    border: 0;
    color: white;
    cursor: pointer;
}
div.menu button:hover{
    text-decoration: underline;
}

main {
    padding-top: var(--padding-top);
    max-width: 700px;
    margin: auto;
    padding-bottom: 100px;
}
main > div.animate{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
main > div.animate .title {
    text-align: center;
}
/* main > div.animate.left {
    text-align: left;
}
main > div.animate.right {
    text-align: right;
} */
main > div.border{
    /* border-top: 1px solid black; */
    margin-top: 20px;
}

main > div.animate img:not(.no_radius){
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 200px;
}
main > div.animate img.no_radius{
    width: 200px;
}
main > div.animate.left img{ float: left; }
main > div.animate.right img{ float: right; }

main div:first-child {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main div:first-child img {
    max-width: 400px;
    /* margin-left: 20px; */
}

main .content{
    font-size: 150%;
}
main div.animate.left .content ul li{
    display: flex;
    align-items: center;
}
main div.animate.left .content ul li span{
    margin-right: 5px;
    padding: 5px;
}
main div.animate.left .content *{
    text-align: left !important;
}
main div.animate.right .content *{
    text-align: right !important;
}

.scroll_top {
    position: fixed;
    bottom: 10px;
    left: 50%;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--box-tx-color);
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    opacity: 0;
    transition: 0.3s;
    /* height: 30px;
    width: 30px; */
    transform: translate(-50%, -50%); /* Per centrare esattamente */
}
.scroll_top:hover{
    background-color: rgba(51, 51, 51, 0.95);
}

.material-symbols-outlined{
    line-height: unset !important;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 120%;
}
.contact .copy{
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.panel{
    transition: 0.3s;
    position: fixed;
    height: 100vh;
    width: 300px;
    z-index: 999;
    color: var(--box-tx-color);
    background-color: white;
}
.panel *{
    font-size: 110% !important;
}
.panel.show{
    left: 0;
    bottom: 0;
    top: 0;
}
.panel.hide{
    left: -300px;
}
.panel .navbar{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 130% !important;
}
.panel .navbar > *{
    padding: 10px;
}
.panel img{
    width: 100px;   
}
.panel button{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    background-color: white;
    transition: 0.3s;
    color: black;
}
.panel button > *{
    display: flex;
    align-items: center;
}
.panel button:hover, .selected{
    cursor: pointer;
    background-color: lightgray !important;
}

button.menu{
    display: none;
    background-color: var(--main-color);
    color: white;
    border: 0;
    size: 150%;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden !important;
}


.video-container {
    position: relative;
    width: 100%;              /* Adatta la larghezza del contenitore al contesto */
    padding-bottom: 56.25%;   /* Imposta l'altezza come 16:9 (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* da telefono */
@media (max-width:1300px){
    main div:first-child img {
        max-width: 80%;
    }
    main div:not(:first-child, .video-container){
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
    .contact .copy{
        margin-top: 10px;
    }
    main .content{
        font-size: 120%;
    }
    button.menu{
        display: block;
    }
    header{
        /* display: flex;
        align-items: center;
        justify-content: center; */
        flex-direction: row-reverse;
    }
}

/* da pc */
@media (min-width:1300px){
    .panel{
        left: 0 !important;
        bottom: 0;
        top: 0;
    }
    .panel .close{ display: none; }
}
